<h1>Numbers Meaning</h1>

<p><%= get_message(1) %></p>
<p><%= get_message(2) %></p>
<p><%= get_message(3) %></p>
<p><%= get_message(4) %></p>
<p><%= get_message(5) %></p>
<p><%= get_message(6) %></p>
<p><%= get_message(7) %></p>
<p><%= get_message(8) %></p>
<p><%= get_message(9) %></p>
